DB_NAME=mitra_kaido
DB_USER=postgres
DB_PASS=mitra123
DB_HOST=postgres
DB_PORT=5432

POSTGRES_DB=${DB_NAME}
POSTGRES_USER=${DB_USER}
POSTGRES_PASSWORD=${DB_PASS}
POSTGRES_HOST_AUTH_METHOD=md5
POSTGRES_PORT=5432

LARAVEL_DB_HOST=host.docker.internal
LARAVEL_DB_PORT=3306
LARAVEL_DB_NAME=kaido_kit
LARAVEL_DB_USER=root
LARAVEL_DB_PASS=
LARAVEL_API_URL=http://host.docker.internal:8000

AIRFLOW_PORT=8080
AIRFLOW_SECRET_KEY=simitra-kaido-secret-key-2025
AIRFLOW_AUTH_ENABLED=False
AIRFLOW_AUTH_BACKEND=airflow.www.security.NoAuth
AIRFLOW_LOG_LEVEL=WARNING
AIRFLOW_USERNAME=
AIRFLOW_PASSWORD=

API_PORT=8001
API_DEBUG=False
API_WORKERS=2

DOCKER_REGISTRY=bimasaktikr
AIRFLOW_VERSION=latest
API_VERSION=latest